adbutils==1.2.12
altgraph==0.17.3
apkutils2==1.0.0
cached-property==1.5.2
certifi==2023.7.22
charset-normalizer==3.2.0
cigam==0.0.3
colorama==0.4.6
colored==2.2.3
colorlog==4.0.2
decorator==5.1.1
deprecation==2.1.0
idna==3.4
imageio==2.31.1
logzero==1.7.0
MyQR==2.3.1
numpy==1.25.2
packaging==23.1
pefile==2023.2.7
Pillow==10.0.0
py==1.11.0
pyelftools==0.29
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
pyperclip==1.7.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pywin32-ctypes==0.2.2
PyYAML==6.0.1
QtAwesome==1.0.3
QtPy==2.3.1
requests==2.31.0
retry==0.9.2
simple-tornado==0.2.2
tidevice==0.4.17
tornado==6.3.2
urllib3==2.0.4
whichcraft==0.6.1
xmltodict==0.13.0
